{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb/base",
        "eslint-config-prettier"
    ],
    "plugins": [
        "eslint-plugin-prettier"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "prittier/prittier": "error",
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
